/* style for body */
body {
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* style for header */
.header {
  background-color: lightgrey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: black;
}

/* style for nav */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-right: 5rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: larger;
  margin-right: 2rem;
  transition: font-weight 0.5s;
  position: relative;
}

/* style for nav bold hover */
nav a:hover {
  font-weight: bold;
}

/* style for nav underline hover */
nav a::before {
  color: lightgrey;
}
nav a::after {
  content: "";
  height: 0.3rem;
  width: 100%;
  background: linear-gradient(50deg, red, darkblue);
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

nav a:hover::after {
  opacity: 1;
}

/* ----------------------------------------------------------------------------------------------- */

/* style for main */
main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
}

/* style for meet-team-title */
.meet-our-team-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid darkblue;
  line-height: 0.5rem;
  padding-top: 8.5rem;
}

.meet-our-team-title h1 span {
  background-color: white;
  padding: 0 1rem;
}

/* style for meet-team */
.meet-team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 1rem;
  padding: 2rem;
  border-style: solid;
  border-color: darkblue;
  background-color: lightgrey;
  border-width: 0.325rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
}

/* style for meet team picture */
.meet-team-front {
  align-items: center;
}

/* style for meet-team-card */
.meet-team-card {
  align-items: center;
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: red;
  border-width: 0.325rem;
  overflow: hidden;
  position: relative;
  height: 15rem;
  width: 10rem;
}

.meet-team-info {
  align-items: center;
}

.meet-team-info p {
  line-height: 0.2rem;
}

.meet-team-front img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.meet-mentor-front img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.meet-mentor-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid red;
  line-height: 0.5rem;
  padding-top: 3rem;
}

.meet-mentor-title h1 span {
  background-color: white;
  padding: 0 1rem;
}

/* style for meet mentor */
.meet-mentor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  border-style: solid;
  border-color: red;
  background-color: lightgrey;
  border-width: 0.325rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  margin-bottom: 3rem;
}

.meet-mentor-info {
  align-items: center;
  line-height: 1.2rem;
}

.meet-mentor-title {
  text-align: center;
  line-height: 0%;
}

/* style for meet-mentor-card */
.meet-mentor-card {
  background-color: lightgrey;
  padding: 1rem; /* 1rem */
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  overflow: hidden;
  position: relative;
  height: 15rem;
  width: 10rem;
}

/* style for footer */
footer {
  background-color: lightgrey;
  color: black;
  text-align: left;
  padding: 1rem;
  position: absolute;
  left: 0;
  width: 100%;
}
