body {
  overflow-x: hidden;
  flex-direction: column;
  overflow-y: scroll;
}

/* style for header */
.header {
  background-color: lightgrey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: black;
}

/* style for nav */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-right: 5rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: larger;
  margin-right: 2rem;
  transition: font-weight 0.5s;
  position: relative;
}

/* style for nav bold hover */
nav a:hover {
  font-weight: bold;
}

/* style for nav underline hover */
nav a::before {
  color: lightgrey;
}
nav a::after {
  content: "";
  height: 0.3rem;
  width: 100%;
  background: linear-gradient(50deg, red, darkblue);
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

nav a:hover::after {
  opacity: 1;
}

/*-----------------------------------*/

/* style for main */
main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
}

/* style for project schedule title */
.project-schedule-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid darkblue;
  line-height: 0.5rem;
  padding-top: 8.5rem;
}

.project-schedule-title h1 span {
  background: white;
  padding: 0 1rem;
}

/* style for project schedule */
.project-schedule {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  background-color: lightgrey;
  margin-bottom: 7.9rem;
  border-width: 0.325rem;
}

/* style for footer */
footer {
  background-color: lightgrey;
  color: black;
  text-align: left;
  padding: 1rem;
  position: absolute;
  left: 0;
  width: 100%;
}
