/* style for body */
body {
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;
  max-width: 120rem;
}

/* style for header */
.header {
  background-color: lightgrey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: black;
}

/* style for nav */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-right: 5rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: larger;
  margin-right: 2rem;
  transition: font-weight 0.5s;
  position: relative;
}

/* style for nav bold hover */
nav a:hover {
  font-weight: bold;
}

/* style for nav underline hover */
nav a::before {
  color: lightgrey;
}
nav a::after {
  content: "";
  height: 0.3rem;
  width: 100%;
  background: linear-gradient(50deg, red, darkblue);
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

nav a:hover::after {
  opacity: 1;
}

/* ----------------------------------------------------------------------------------------------- */

/* style for main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 120rem;
}

.background-image {
  position: relative;
  z-index: -1;
}
.background-text {
  position: absolute;
  top: 95%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* style for quicklinks */
.quicklinkscont {
  color: white;
  border-radius: 2rem;
  background-color: lightgrey;
  padding: 1rem;
  margin: 1rem auto 3rem auto;
}

/* style for quicklinks title */
.quicklinks ul {
  list-style: none;
}

.quicklinks li {
  display: inline-block;
  text-align: center;
}

.quicklinks a {
  background-color: lightgray;
  color: red;
  cursor: pointer;
  border-radius: 2rem;
  transition: background-color 0.5s;
  text-decoration: none;
  margin-right: 2rem;
  padding: 1rem;
}

/* style for nav bold hover */
.quicklinks a:hover {
  font-weight: bold;
  box-shadow: 0.5rem 0.5rem 0.5rem #000080;
  text-decoration: underline black;
}

/* style for footer */
footer {
  background-color: lightgrey;
  color: black;
  text-align: left;
  padding: 1rem;
  position: absolute;
  left: 0;
  width: 100%;
}
