/* style for body */
body {
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* style for header */
.header {
  background-color: lightgrey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: black;
}

/* style for nav */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-right: 5rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: larger;
  margin-right: 2rem;
  transition: font-weight 0.5s;
  position: relative;
}

/* style for nav bold hover */
nav a:hover {
  font-weight: bold;
}

/* style for nav underline hover */
nav a::before {
  color: lightgrey;
}
nav a::after {
  content: "";
  height: 0.3rem;
  width: 100%;
  background: linear-gradient(50deg, red, darkblue);
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

nav a:hover::after {
  opacity: 1;
}

/* ----------------------------------------------------------------------------------------------- */

/* style for main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
}

/* style for quicklinks */
.quicklinkscont {
  padding: 1rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
  margin-bottom: 2rem;
}

/* style for quicklinks title */
.quicklinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.quicklinks a {
  color: black;
  text-decoration: none;
  font-size: larger;
  margin-right: 2rem;
  transition: font-weight 0.5s;
  position: relative;
}

/* style for nav bold hover */
.quicklinks a:hover {
  font-weight: bold;
}

/* style for homepage */

/* ----------------------------------------------------------------------------------------------- */

/* style for about title*/
.description-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid darkblue;
  line-height: 0.5rem;
  padding-top: 4rem;
}

.description-title h1 span {
  background: white;
  padding: 0 1rem;
}

/* style for about */
.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
}

/* style for about title*/
.about-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid red;
  line-height: 0.5rem;
  padding-top: 4rem;
}

.about-title h1 span {
  background: white;
  padding: 0 1rem;
}

/* style for about */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: red;
  border-width: 0.325rem;
  background-color: lightgrey;
}

/* style for technology title */
.technology-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid darkblue;
  line-height: 0.5rem;
  padding-top: 3rem;
}

.technology-title h1 span {
  background: white;
  padding: 0 1rem;
}

.aboutproblem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
  margin-bottom: 4rem;
}

.aboutrequirements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
  margin-bottom: 4rem;
}

.aboutsolution {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
  margin-bottom: 4rem;
}

/* style for technology */
.technology {
  display: block;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 4rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  background-color: lightgrey;
}

/* style for technology frontend */
.technology-frontend {
  display: flex;
  flex: 0.5;
  align-items: center;
  flex-direction: column;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
  margin: 1rem;
}

/* style for technology backend */
.technology-backend {
  display: flex;
  flex: 0.5;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
  margin: 1rem;
}

/* style for technology other */
.technology-others {
  display: flex;
  flex: 0.5;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
  margin: 1rem;
}

/* style for technology github */
.technology-github {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  border-width: 0.325rem;
  background-color: lightgrey;
  padding: 0.025rem;
  margin-bottom: 1rem;
}

/* style for technology github link */
.technology-github-link {
  text-decoration: none;
  color: darkblue;
}

.technology-github-link {
  color: blue;
  text-decoration: none;
}

.technology-github-link:hover {
  text-decoration: underline;
}

/* ----------------------------------------------------------------------------------------------- */

/* style for meet-team */
.meet-team {
  position: relative;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 1rem;
}

/* style for meet team title */
.meet-team-header {
  align-items: center;
  margin-bottom: 0.5rem;
  padding-top: 4rem;
  margin-right: 1rem;
}

/* style for meet team container */
.meet-team-card-cont {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}

/* style for meet team picture */
.meet-team-front {
  align-items: center;
}

/* style for meet-team-card */
.meet-team-card {
  align-items: center;
  background-color: lightgrey;
  padding: 1.5rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: red;
  border-width: 0.325rem;
  position: relative;
  overflow: hidden;
}

hr {
  width: 100%;
  border: 0.1rem solid darkblue;
}

/* style for meet mentor */
.meet-mentor {
  position: relative;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
  line-height: 1rem;
  margin-right: 1rem;
}

/* meet mentor inside info */
.meet-mentor h1 {
  align-items: center;
  margin-bottom: 1.5rem;
}
.meet-mentor h2 {
  align-items: center;
}

/* ----------------------------------------------------------------------------------------------- */
/* style for meet-sponsor title */
.meet-sponsor-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid darkblue;
  line-height: 0.5rem;
  padding-top: 4rem;
}

.meet-sponsor-title h1 span {
  background: white;
  padding: 0 1rem;
}

/* style for meet sponsor */
.meet-sponsor {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  background-color: lightgrey;
  margin-bottom: 4rem;
  line-height: 1rem;
  text-align: center;
  border-width: 0.325rem;
  text-wrap: auto;
}

/* style for meet sposor container movement */
.meet-sponsor-card-cont {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* style for meet team picture */
.meet-sponsor-front {
  align-items: center;
}

/* style for meet-team-card */
.meet-sponsor-card {
  align-items: center;
  background-color: lightgrey;
  padding: 1.5rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: red;
  border-width: 0.325rem;
}

.meet-sponsor-info {
  text-align: center;
}

/* ----------------------------------------------------------------------------------------------- */

/* style for project schedule title */
.project-schedule-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid darkblue;
  line-height: 0.5rem;
  padding-top: 4rem;
}
.project-schedule-title h1 span {
  background: white;
  padding: 0 1rem;
}

/* style for project schedule */
.project-schedule {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  background-color: lightgrey;
  margin-bottom: 7.9rem;
  border-width: 0.325rem;
}

/* ----------------------------------------------------------------------------------------------- */

/* style for documentation title */
.documentation-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid darkblue;
  line-height: 0.5rem;
  padding-top: 4rem;
}

.documentation-title h1 span {
  background: white;
  padding: 0 1rem;
}

/* style for documentation */
.documentation {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  background-color: lightgrey;
  border-width: 0.325rem;
}

.documents-card {
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: red;
  line-height: 0.625rem;
  padding-bottom: 0.0625rem;
  border-width: 0.325rem;
  width: 10rem;
  margin: 2.5rem;
}

/* style for nav bold hover */
.documents-front:hover {
  font-weight: bold;
}
/* style for nav underline hover */
.documents-front::before {
  color: lightgrey;
}
.docremunderline {
  text-decoration: none;
  color: black;
}
.documents-front::after {
  content: "";
  height: 0.3rem;
  width: 9rem;
  background: linear-gradient(40deg, red, darkblue);
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.documents-front:hover::after {
  opacity: 1;
}

/* style for presentation title */
.presentation-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid red;
  line-height: 0.5rem;
  padding-top: 3rem;
}

.presentation-title h1 span {
  background: white;
  padding: 0 1rem;
}

/* style for presentation */
.presentation {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: red;
  background-color: lightgrey;
  border-width: 0.325rem;
}

.presentation-card {
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  line-height: 0.625rem;
  padding-bottom: 0.0625rem;
  border-width: 0.325rem;
  width: 10rem;
}

/* style for nav bold hover */
.presentation-front:hover {
  font-weight: bold;
}
/* style for nav underline hover */
.presentation-front::before {
  color: lightgrey;
}

.presentation-front::after {
  content: "";
  height: 0.3rem;
  width: 10rem;
  background: linear-gradient(40deg, red, darkblue);
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.presentation-front:hover::after {
  opacity: 1;
}

/* style for videos title */
.videos-title h1 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5rem solid darkblue;
  line-height: 0.5rem;
  padding-top: 3rem;
}

.videos-title h1 span {
  background: white;
  padding: 0 1rem;
}

/* style for videos */
.videos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  font-size: large;
  border-radius: 1rem;
  border-style: solid;
  border-color: darkblue;
  background-color: lightgrey;
  margin-bottom: 4rem;
  border-width: 0.325rem;
}

.videos-card {
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: red;
  line-height: 0.625rem;
  text-align: center;
  width: 10rem;
  padding-bottom: 0.0625rem;
  border-width: 0.325rem;
}

/* style for videos bold hover */
.videos-front:hover {
  font-weight: bold;
}
/* style for videos underline hover */
.videos-front::before {
  color: lightgrey;
}

.videos-front::after {
  content: "";
  height: 0.3rem;
  width: 10rem;
  background: linear-gradient(40deg, red, darkblue);
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.videos-front:hover::after {
  opacity: 1;
}

/* ----------------------------------------------------------------------------------------------- */
/* style for footer */
footer {
  background-color: lightgrey;
  color: black;
  text-align: left;
  padding: 1rem;
  position: absolute;
  left: 0;
  width: 100%;
}
